*{
    margin: 0;
padding: 0;
box-sizing: border-box;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

:root, html, body, footer{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;

}



header{
    display: flex;
align-items: center;

gap: 2.5rem;
height: 7.2rem;




background: #065E7C;

justify-content: center;

--startY:-100%;
animation: move .3s;

}


.logo{
   
border-radius: 50%;
padding: .8rem;
background: white;
justify-items: center;}

.logo img{
    width: 3.4rem;
    height: 3.1rem;
}
form label{
    width: 1px;
    height: 1px;
    opacity: 0;
    display: flex;
    flex:1;

    position: relative;
}

form input{
display: flex;
width: 24.1rem;
height: 4rem;

border-radius: 4px;
background: rgba(255, 255, 255, 0.20);
border: none;

padding-left: 1.6rem;
color: white;

}

input::placeholder{
    color: white;
    padding-left: 1.6rem;
    font-family: Mulish;

}
.profile img{
aspect-ratio: 1/1;
object-fit: cover;

border-radius: 50%;

width: 5rem;
height: 5rem;
}

#app{
padding: 2.6rem;
width: 100%;
}

mains{
margin:0 auto;
}

#relacionados{
    padding-bottom: 2.4rem;
}

.img-cat img{
aspect-ratio: 16/9;
object-fit: cover;

width: 434px;
height: 219px;
--delay:.4s;
animation: appear .4s  var(--delay) backwards;
}

.buttons{
    padding-bottom: 2.6rem;
}

.title-cat{
    --delay:.4s;
animation: appear .4s  var(--delay) backwards;
width: 50rem;
}

.title-cat h1{
  font-size: 2.5rem

  
}
#like{
    background:#065E7C url(images/Icon.svg);
    background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
border: none;
padding: .5rem;
width: 5rem;
height: 5rem;
cursor: pointer;

transition: 0.2s;
}

#deslike{
    background:#065E7C url(images/Icon\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
    padding: .5rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

transition: 0.2s;

    }

    #like:hover{
        background:#0b92be url(images/Icon.svg);
        background-repeat: no-repeat;
        background-position: center;

    }

    #deslike:hover{
        background:#0b92be url(images/Icon\ \(1\).svg);
        background-repeat: no-repeat;
        background-position: center;
    }
.text-cat{
font-size:1.5rem ;

    line-height: 160%;
    padding-bottom:3.4rem ;

    width: 38.2rem;
height: 100%;


margin: 0 auto;

--delay:.4s;
animation: appear .4s  var(--delay) backwards;


}




.cards img{
    aspect-ratio: 16/9;
    width: 16rem;
    height: 9rem;

    transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease-in-out;



}

.cards h2{
    font-size: 1.8rem;
}

nav{
margin: 0 auto;
}

.details{

width: 100%;
height:9rem;
    line-height: 160%;
}
.details h2{
    padding-bottom: 0rem;
}

#relacionados{
   
    font-size: 2.4rem ;
}

figure{
width: 38.2rem;

    display: grid;
    grid-template-columns:1fr 2fr;

gap: 1rem;
align-items: center;

padding-bottom: 3.2rem;


font-size: 14px;

--delay:.4s;
animation: appear .4s  var(--delay) backwards;
}

footer{

height: max-content;

background-color: #065E7C;

padding: 1.6rem;
font-size: 16px;
text-align: center;
color: white;


--startY:100%;
animation: move .2s;

}

@keyframes move{
    0%{
     transform: translateY(var(--startY));
    }

 }

@keyframes appear{
0%{
opacity: 0;
transform: scale(0.7);

}}

.cards {
    --delay:.4s;
    animation: appear .4s  var(--delay) backwards;
}

@media (min-width:320px){
header, footer{
width: 100vh;
}


.img-cat img{
    width: 100vh;
    height: max-content;
}


form input{
    width: 60vh;
    height: 5rem;
}


.title-cat{
    display: flex;
align-items: center;

padding-bottom: 2rem;

flex-direction: column;
}

.title-cat h1{
    font-size: 3rem;
    margin-left: -11rem;
}

.buttons{
margin-left: -40rem;

}

.text-cat{
width: 80vh;
font-size: 1.8rem;
}


figure{
    height: max-content;
    margin: 0 auto;


}

figure{
    width: 90%;
    height: max-content;
    margin-left: -0.2rem;
}


.cards img{
width: 20.1rem;
height: 10rem;
object-fit: cover;
}

.cards{
width: 50rem;
}
}


@media (min-width:434px){



header, footer{
    gap: 4rem;
    height: 9rem;


    
    }
 


form input{
    width: 60vh;
    height: 5rem;
}
.img-cat img{
    width: 100vh;
    height: 100%;
}


.title-cat{
    width: 100%;
    display: flex;
align-items: center;

padding-bottom: 2rem;


}

.title-cat h1{
    font-size: 3rem
}

.buttons{
    padding-left: 10rem;
    padding-bottom: 0;
}

.text-cat{
width: 100%;
font-size: 1.8rem;
}


figure{
    width: 90%;
    height: max-content;
    margin: 0 auto;
}
.cards h3{
padding-left: 3rem ;

}
.cards img{
width: 20.1rem;
height: 10rem;
object-fit: cover;
}



footer{
    height: max-content;
}
}

@media (min-width:656px){


.img-cat img{
object-fit: cover;
width: 100vh;
}

.details{
    width: 100%;
}

.title-cat{
}

.buttons{
    padding-bottom: 0;
    padding-left: 0;

}

.text-cat{
    padding-left:3rem ;
}

}

@media (min-width:768px){

#app{
}

    html{
        width: min-content;
    }

header, footer{
    width: 100%;


}



form input{
    width: 90rem;
    font-size: 1.7rem;

}

main{
    display: grid;

grid-template-columns: repeat(2, 1fr) ;
}

.app{
    width: 80.3rem;
}

.img-cat{
width: max-content;

}
.img-cat img{
    padding-top: 2.6rem;
padding-left: 2.6rem;
width: 67rem;
}

.title-cat{
width: max-content;

flex-direction: row;

margin: auto;
}

.title-cat h1{
margin-left: -16rem;
   
}

.buttons{
    padding-left: 40rem;
}

#like{
    margin-left: 15rem;
margin-right: 1.2rem;   
}
.text-cat{
    width: 66rem;
    padding-left: 0;
    margin:  initial;

}

nav{
margin-top: -38rem;
margin-left:-14rem ;
}

.details{
    width: 21rem;
}
.cards{
    width: 100%;
}
}

@media (min-width:1250px){
footer, header{

}


form input{
    width: 130rem;
    font-size: 1.8rem;

}
#like{
    margin-left: 25.3rem;
}
.text-cat{
    height: 36.4rem;
    width: 83rem;
    margin-bottom: 5rem;
}

.img-cat img{
    margin-left:10rem;
    width: 85rem;
}

.app{
    margin-left:10rem;

}

nav{
    margin-left: 15.4rem;
    margin-top:-48rem;

   
}

figure{
    width: 60rem;


}

.cards img{
    width: 20rem;
    height: 12rem;
}
.details{
width: 30rem;
font-size: 1.8rem;

margin-top: -3rem;
}

#relacionados{
    font-size: 3rem;
    margin-left: -3rem;
}
}

@media (min-width:1709px){

    html{
        width: 100%;
    }
header, footer{
width: 100%;
}


.title-cat h1{
    margin-left: -5rem;
       
    }

}